<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <context:annotation-config/>
    <context:component-scan base-package="com.diasystem.web"/>
    <tx:annotation-driven />


     <!--Файл с настройками ресурсов для работы с данными (Data Access Resources)-->
    <import resource="data.xml" />


    <!--persistence-->
    <bean id="UserPersistence" class="com.diasystem.persistence.hibernateImpl.UserPersistenceImpl"/>

    <!--Service-->
    <bean id="UserService" class="com.diasystem.service.impl.UserServiceImpl"/>


    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/"/>
        <property name="suffix" value=".jsp"/>
    </bean>

</beans>